<!DOCTYPE html>
<head>

<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>
<div id='app'>
  <table>
    <tr>
      <th>TO Do</th>
      <th>Doing</th>
    </tr>
    <tr>
      <td id="column1" @dragstart="dragStart2($event)" @dragover.prevent @drop="dragFinishColumn($event, 1, 1)">
        <div id='column1'>
          <ul class="todo-list">
            <li @dragover.prevent @drop="dragFinish($event, -1, 1)" v-if="dragging > -1" class="trash-drop todo-item" v-bind:class="{drag: isDragging}">Delete</li>

            <li v-else>
              <input placeholder="Type new task and press enter" type="text" class="new-todo todo-item" v-model="newItem" @keyup.enter="addItem">
            </li>

            <li class="todo-item" v-if="todos.length != 0" v-for="(item, i) in todos" :id="'c1_' + i" draggable="true" @dragstart="dragStart(i, $event)" @dragover.prevent @dragenter="dragEnter" @dragleave="dragLeave" @dragend="dragEnd" @drop="dragFinish($event, i, 1)">
              <span>{{ item.title }}</span>
              <span class="remove-item" @click="removeItem(item, 1)">x</span>
            </li>
          </ul>
        </div>
      </td>
      <td id="column2" @dragstart="dragStart2($event)" @dragover.prevent @drop="dragFinishColumn($event, 1, 2)">
        <div id='column2'>
          <ul class="todo-list">
            <li @dragover.prevent @drop="dragFinish($event, -1, 2)" v-if="dragging > -1" class="trash-drop todo-item" v-bind:class="{drag: isDragging}">Delete</li>

            <li v-else>
              <input placeholder="Type new task and press enter" type="text" class="new-todo todo-item" v-model="newItem2" @keyup.enter="addItem2">
            </li>

            <li class="todo-item" v-if="todos2.length != 0" v-for="(item, i) in todos2" :id="'c2_' + i" draggable="true" @dragstart="dragStart(i, $event)" @dragover.prevent @dragenter="dragEnter" @dragleave="dragLeave" @dragend="dragEnd" @drop="dragFinish($event, i, 2)">
              <span>{{ item.title }}</span>
              <span class="remove-item" @click="removeItem(item, 2)">x</span>
            </li>
          </ul>
        </div>
      </td>
      </tr>
  </table>
</div>

<script src="test.js"></script>

</body>
</html>